.my_height80 {
    height: 80px;
}

#start:hover {
    background-color: #4AFFC1;
    color: #0F152B;
    transition: ease .3s;
}

#start:not(:hover) {
    background-color: #0F152B;
    color: #4AFFC1;
    transition: ease .3s;
}

.my_bgblue {
    background-color: #0F152B;
}

.my_bggreen {
    background-color: #4AFFC1;
}

.my_colorblue {
    color: #0F152B;
}

.my_colorgreen {
    color: #4AFFC1;
}

#grid {
    width: 500px;
    height: 500px;
}

#grid.medium {
    width: 450px;
    height: 450px;
}

#grid.hard {
    width: 350px;
    height: 350px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border: solid 1px #4AFFC1;
    color: #4AFFC1;

    cursor: pointer;
    user-select: none;
}

.square:hover {
    background-color: white;
    color: #0F152B;
}

.square.active {
    background-color: #4AFFC1;
    color: #0F152B;
}

.square.square.active:hover {
    background-color: #4affc09e;
    color: #0F152B;
}